.question-mark-container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.question-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--accent);
  color: var(--text-on-accent);
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.instructions {
  position: absolute;
  top: 100%;
  left: 50%;
  width:max-content;
  max-width: 200px;
  background-color: var(--text-on-accent);
  color: var(--tooltip-text);
  padding: 5px;
  border: 1px solid var(--border-strong);
  box-shadow: 0 2px 5px var(--shadow-color);
  display: none;
  z-index: 10;
}

.question-mark:hover .instructions {
  display: block;
}
