html, body {
  height: fit-content;
  margin: 0;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}


.page-container > .slides {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0 16px;
  scroll-margin-top: 78px;
}

.page-container {
  padding-top: 56px;
}

.page-container > section {
  scroll-margin-top: 78px;
}
