html, body {
  height: fit-content;
  margin: 0;
}

*{
  box-sizing: border-box;
}


.container > .slides {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
